<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145413594789-565p9c91ftkca72va18he5n2lt1c0vir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145413594789-565p9c91ftkca72va18he5n2lt1c0vir</string>
	<key>API_KEY</key>
	<string>AIzaSyD5IlCixVoNiz_1l0QJ4aWmHv5B22teh3U</string>
	<key>GCM_SENDER_ID</key>
	<string>145413594789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wce.Mini-project</string>
	<key>PROJECT_ID</key>
	<string>mini-project-e3f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-project-e3f3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145413594789:ios:e382f541c42e18b377f74c</string>
</dict>
</plist>